$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;
$color-section: #6F7579;

$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner})",
  "pc": "(min-width: #{$layout-width-inner})",
);

// メディアクエリ

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
 

// 共通パーツ

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('sp') {
    width: 90%;
  }

  @include mq('tab') {
    width: 90%;
  }
}

section {
  padding: 100px 0 120px; 
}

.title {
  width: auto;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 0 auto;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 60px;
    height: 4px;
    background-color: $color-main;
  }
}


// reset css
*,
*::before,
*::after {
  box-sizing: border-box;  
}

html,
body {
  padding: 0;
  margin: 0;
}

body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;  
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

// /reset css




// header

header {
  background-color: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 3px 3px rgba($color: #000, $alpha: 0.29);

    @include mq('sp') {
      height: 60px;
    }

    @include mq('tab') {
      height: 80px;
    }
}

.header-inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-logo {
    width: 205px;

  @include mq('sp') {
    width: 180px;
  }  

    img {
      display: block;
    }

}

.header-nav {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include mq('sp') {
    display: none;
  }


  li {

   &:not(:first-child) {
     margin-left: 40px;
   }

   a {
     color: #fff;
     position: relative;

     &.is-active {
       &::after {
         content: "";
         position: absolute;
         bottom: -8px;
         left: 0;
         width: 100%;
         height: 2px;
         background-color: $color-accent;
       }
     }    
   }

  }
}

// /header 

// top

.top-parent {
  background: url("../img/mainvisual.png") no-repeat center center / cover;
  height: 600px;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 100px;

  @include mq('sp') {
    margin-top: 60px;
    height: 430px;
  }

  @include mq('tab') {
    margin-top: 80px;
  }
}

.top-child {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-title {
 font-size: 64px;
 font-weight: bold;
 
 @include mq('sp') {
   font-size: 32px;
 }
}

.top-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;

  @include mq('sp') {
    font-size: 16px;
    margin-top: 12px;
  }
}

.top-button {
  margin-top: 36px;
  a {
    display: inline-block;
    width: 390px;
    max-width: 100%;
    height: 83px;
    line-height: 83px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background-color: $color-main;
    box-shadow: 0px 3px 6px rgba($color: #000, $alpha: 0.16);
    border-radius: 12px;

    @include mq('sp') {
      width: 70%;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
    }
  }
}

// card

// /card

.card {
  background-color: #EFEFEF;
}

.card-container {
  margin-top: 108px;
  display: flex;
  flex-wrap: wrap;
}

.card-wrapper {
  height: 321px;
  background: #fff;
  // width: calc(((100% - (24px * 2)) / 3) - 1px);;
  // margin-left: 23px;
  // margin: 0 auto;
  margin-bottom: 23px;
  width: calc(33.3% - 24px * 2 / 3);

  &:not(:nth-child(3n+1)) {
    margin-left: 24px;
  }
  
  @include mq('tab') {
    width: calc(50% - 20px * 1 / 2);
    margin-bottom: 32px;
    
    &:not(:nth-child(3n+1)) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-left: 20px;
    }
  }

  @include mq('sp') {
    width: 100%;
    margin-bottom: 48px;

    &:not(:nth-child(3n+1)) {
      margin-left: 0;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }  
}

.card-box {
  width: 352px;
  margin:0 auto;
  // padding: 16px;
  // background:red;
  img {
    margin-top: 16px;
  }

  @include mq('tab') {
    width: 90%;
    .card-img {
      text-align: center;
    }
  }
  
  @include mq('sp') {
    // width: 100%;
    width: 90%;
    .card-img {
      text-align: center;
    }
  }

}


.card-title {
  color: $color-section;
  font-size: 20px;
  margin-top: 5px;
}

.card-text {
  color: $color-section;
  font-size: 16px;
  margin: 5px 0 10px;
}
